{% extends 'base.html' %}
{% block title %}Add New Product {% endblock %}
{% block content %}
    <section class="wrapper">
        <div class="content">
          <header>
            <p class="add-product-content" >Add Product</p>
          </header>
          <section id="product-add-wrapper">
            <form method="POST" class="login-form" id="product-add-form" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
              <div class="input-group">
                  <label >{{ field.label_tag }} </label>
                          {{ field }}
              </div> 
              <div>
                  {{ field.errors }}
              </div>
              {% endfor %}
              <div class="input-group">
                <button type="submit">Add Product</button>
              </div>
            </form>
          </section>
        </div>
      </section>
{% endblock %}